/* 

Primary styles for website

Author: Brandon Stewart

*/

/* General styling */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('assets/backgroundGreeb.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

/* Main content and container content syles */

.main-content {
    flex: 1;
    min-width: 100px;
    margin-left: 20px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 1200px;
    background-color: #23282d; 
    border: 1px solid #58c461; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-container h2 {
    margin: 0;
    padding: 0;
    color: #fafaf8;
}

.content-container p {
    color: #fafaf8;
}

/* Primary content tyles */

header, footer, section {
    margin: 0px 0;
    padding: 10px;
    border-radius: 8px;
}

header {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    width: 100%;
    background-color: #1b2720;
    color: #fafaf8;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navigation  bar styles */

.navbar {
    width: 100%;
    background-color: #58c461;
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    top: 0;
}

.navbar li {
    list-style-type: none;
    display: inline;
    border-right: 1px solid #333;
}

.navbar li:last-child {
    border-right: none;
}

.navbar a {
    color: #23282d; 
    font-size: 1.8rem;
    background-color: #b9ffb9;
    padding: 5px 20px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease; 
}

.navbar a:hover {
    background-color: #34d134; 
    color: #23282d; 
}

.navbar a.active {
    background-color: #80ff80; 
    color: #0f3a66;
}

/* Content block styles */

section {
    width: 95%;
    color: #fafaf8;
    margin: 10px 0px;
    padding: 2px;
    box-shadow: 0 2px 5px #15ff00;
    background-color: #17b12c;
}

/* Footer Styles */

footer {
    width: 100%;
    background-color: #17b12c;
    color: #333;
    text-align: center;
    padding: 1px 0;
    position: sticky;
    bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    color: black;
    background-color: #7ccf45;
}

/* Syles for Tech New component */

aside {
    flex: 0 0 200px;
    padding: 10px;
    border: 1px solid #58c461;
    margin: 10px 0;
    background-color: #23282d;
    color: #fafaf8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 5px;
}

article h3 {
    margin: 0;
    font-size: 14px;
    color: #58c461;
}

article p {
    margin: 5px 0;
    font-size: 14px;
    color: #fafaf8;
}