/* Media Queries */

/* Desktops */
@media (min-width: 1024px) {
    .navbar ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .content-container {
        display: flex;
    }

    aside {
        margin: 0 20px 0 0;
    }

    .grid li {
        flex: 1 1 calc(33.333% - 10px);
    }
}



/* Tablets */
@media (max-width: 768px) {
    .navbar ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    .content-container {
        flex-direction: column;
    }

    aside {
        margin: 0 0 20px 0;
    }

    .grid li {
        flex: 1 1 calc(50% - 10px);
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    header h1, footer p {
        font-size: 18px;
    }

    .content-container {
        padding: 10px;
    }

    .grid li {
        flex: 1 1 100%;
    }
}
